*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: white;
}

.nav-link{
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin: 0 20px;
}

.nav-link:hover{
    color: #c9bc8f;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 40px 28px 0;
}

.sidebar a{
    margin-bottom: 20px;
}

/* --------------------------------------------- */

@media(max-width:1200px){
    .nav-link{
        margin: 0 10px;
    }
}

@media(max-width: 800px){
    .logo{
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
} 

/* --------------------------------------------------- */

.image-div{
    background-image: url(./Components/01.jpg);
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    background-color: brown;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-title{
    font-size: 70px;
    color: white;
    margin-bottom: 120px;
}

.img-title a{
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.img-title a:hover{
    color: #c9bc8f;
}

.menus{
    height: 200vh;
    background-color: transparent;
}

#wave-item{
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

@media(max-width: 800px){
    .logo{
        margin-left: auto;
        margin-right: auto;
    }
    .img-title{
        font-size: 50px;
        color: white;
        margin-bottom: 90px;
        margin-left: 30px;
    }
    .image-div{
        height: 75vh;
    }
}